@{
    ViewBag.Title = "TilausDB - Etusivu";
}

<main>
    <section class="row">

    </section>

    <div class="row">
        <section class="col-md-4">
            <h1 id="title">Tervetuloa!</h1>
            <p>Käyttämään TilausDB -sovellusta! Kirjautumalla sisään sivun oikeasta ylälaidasta pääset näkemään ja muokkaamaan pudotusvalkoiden tietoja.</p>
        </section>
        <section class="col-md-2">

        </section>
        <section class="col-md-4">
            <img src="~/Content/Images/tilausdb.png" width="300px" align="middle" />
        </section>
    </div>
</main>